.contenedor-compra {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.lista-articulos,
.ticket-compra {
  width: 45%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-articulos ul,
.ticket-compra ul {
  list-style: none;
  padding: 0;
}

.lista-articulos li,
.ticket-compra li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
}
