.contador-container {
  text-align: center;
  margin-top: 20px;
}

.contador-container h2 {
  font-size: 30px;
  color: darkgreen;
  font-family: 'Courier New', Courier, monospace;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: aquamarine;
  margin-top: 10px;
  cursor: pointer;
}

