.container {
  padding: 16px;
}

.drag-drop-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.lista {
  width: 23%;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lista h3 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 16px;
}

mat-card {
  margin-bottom: 8px;
  cursor: grab;
  transition: transform 0.2s, background-color 0.3s;
}

mat-card:hover {
  transform: scale(1.05);
  background-color: #e0f7fa;
}

.eliminar {
  background-color: #ffebee;
}

.eliminar h3 {
  color: #d32f2f;
}
