<main class="main">
  <h1>Bienvenido Angular Standalone</h1>
  <div><app-prueba></app-prueba></div>
  <div><app-saludo [saludo]="'Lisseth'"></app-saludo></div>
  <div><app-contador></app-contador></div>
  <div><app-lista-tarea></app-lista-tarea></div>
  <div><app-temporizador></app-temporizador></div>

  <div>
    <app-comentarios (comentarioEnviado)="comentarioEnviado($event)"></app-comentarios>
    <ul>
      <li *ngFor="let comentario of comentarios">{{ comentario }}</li>
    </ul>
  </div>

  <div><app-tarjeta [nombre] ="'juan'"  [descripcion]="'no sé'"  [precio]=10></app-tarjeta></div>

  <div><app-calculadora></app-calculadora></div>
  <div><app-compra></app-compra></div>

  <h1> Segundo Practica</h1>

  <div><app-fecha></app-fecha></div>
</main>
