<main class="main">
  <h1>Bienvenido Angular practica 3 y UT3</h1>
  <router-outlet></router-outlet>
  <div><app-prueba></app-prueba></div>
  <div><app-saludo [saludo]="'Lisseth'"></app-saludo></div>
  <div><app-contador></app-contador></div>
  <div><app-lista-tarea></app-lista-tarea></div>
  <div><app-temporizador></app-temporizador></div>


  <div>
    <app-comentarios (comentarioEnviado)="comentarioEnviado($event)"></app-comentarios>
    <ul>
      <li *ngFor="let comentario of comentarios">{{ comentario }}</li>
    </ul>
  </div>

  <div><app-tarjeta [nombre] ="'juan'"  [descripcion]="'no sé'"  [precio]=10></app-tarjeta></div>

  <div><app-calculadora></app-calculadora></div>
  <div><app-compra></app-compra></div>

  <h1> UT3: Batería de ejercicios</h1>

  <div><app-fecha></app-fecha></div>

  <div><app-aleatorio></app-aleatorio></div>

  <div><app-navegacion></app-navegacion></div>

  <div><app-ventana1></app-ventana1></div>

  <div><app-ventana2></app-ventana2></div>

  <div><app-cookies></app-cookies></div>

  <h1> UT3: Actividades Angular Material</h1>

  <div><app-notas></app-notas></div>

  <div><app-galeria></app-galeria></div>

  <div><app-tareas></app-tareas></div>

  <div><app-calculadora-compras></app-calculadora-compras></div>

  <div><app-encuesta></app-encuesta></div>

  <div><app-contactos></app-contactos></div>

  <div><app-dashboard></app-dashboard></div>




</main>

